<?xml version="1.0" encoding="UTF-8"?>
<!-- 修改内容：修改人：pengjunlin 时间：2026-08-04 19:00:00 -- start ---- -->
<configuration>
    <!-- 控制台日志输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Logstash TCP 日志输出，用于 ELK 日志中心采集 -->
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>logstash:5000</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"application":"boonya-io-iot"}</customFields>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="LOGSTASH" />
    </root>
</configuration>
<!-- 修改内容：修改人：pengjunlin 时间：2026-08-04 19:00:00 -- end ---- -->
